<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
        <a class="navbar-brand" href="" (click)='onClickOnLink($event)'><h3>MeetOne</h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navItems">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navItems">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-auto"><a class="nav-link" (click)='onClick()' data-toggle="modal" data-target="#exampleModalCenter">LogIn/SignUp</a></li>
                </ul>
            </div>
    </nav>
<div class="parent-div">
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" (click)='onClick()' data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> 
        </div>
        
        <div class="modal-body">
            <div class="row">
            <div class="router-div">
                    <router-outlet name='signup'></router-outlet>
            </div>
            <div class="line"></div>
            <div class="router-div">
                <router-outlet></router-outlet>
                
            </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
<footer class="bg-info navbar-dark">
    Copyright @ Rahul Sharma
</footer>
</body>