<div class="form-div">
    <div class="heading"><h5>Forgot Password<hr></h5></div>
    <form #resetPassword="ngForm" (ngSubmit)="sendRecoveryEmail(resetPassword)">
       
      <div class="form-group">
         <label for="email">Email</label>
         <input type="email" id="inputEmail" class="form-control form-control-sm"  [(ngModel)]="email"   placeholder="Email" name="email" required>
          
     </div>
     
  
     <div class="form-group">
         <button class="btn  btn-block custom-btn btn-sm" *ngIf="!isProcessing"  type="submit">Send Recovery Mail</button>
         <div class="spinner-border loader text-danger" *ngIf="isProcessing" role="status">
             <span class="sr-only">Loading...</span>
         </div>
     </div>
    </form>
  </div>