<!--Nav bar for admin dashboard-->
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <a class="navbar-brand" href="" (click)='onClickOnLink($event)'><h3>MeetOne</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navItems">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navItems">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item ml-auto">
                <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ receiverName }}
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button">Profile</button>
                  <button class="dropdown-item" type="button" (click)="logOutUser()">Logout</button>
                </div>
              </div></li>
          </ul>
      </div>
</nav>
<!--Nav bar ends-->
<div class="parent-div">
   <div class="row my-row">
   <div class="calender-div">
     <!--nav-->
       <div class="row text-center cal">
          <div class="col-md-4">
              <div class="btn-group btn-group-sm">
                <div
                  class="btn btn-primary custom-btn"
                  (click)="view = CalendarView.Month"
                  [class.active]="view === CalendarView.Month"
                >
                  Month
                </div>
                <div
                  class="btn btn-primary"
                  (click)=" view = CalendarView.Week"
                  [class.active]="view === CalendarView.Week"
                >
                  Week
                </div>
                <div
                  class="btn btn-primary custom-btn"
                  (click)="view = CalendarView.Day"
                  [class.active]="view === CalendarView.Day"
                >
                  Day
                </div>
              </div>
            </div>
                <div class="col-md-4 ">
                  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                </div>
                

                <div class="col-md-4">
                    <div class="btn-group btn-group-sm">
                      <div
                        class="left"
                        mwlCalendarPreviousView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="activeDayIsOpen = false"
                      >
                         
                      </div>
                      <div
                        class="btn btn-primary custom-btn"
                        mwlCalendarToday
                        [(viewDate)]="viewDate"
                      >
                        Today
                      </div>
                      <div
                        class="right"
                        mwlCalendarNextView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="activeDayIsOpen = false"
                      >
                      </div>
                    </div>
                  </div>
              </div>
              <!--nav-->
              
              <div [ngSwitch]="view" id="cal-view">
                 <mwl-calendar-month-view  
                  *ngSwitchCase="CalendarView.Month"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  [activeDayIsOpen]="activeDayIsOpen"
                  (dayClicked)="dayClicked($event.day)"
                  (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)"
                >
                </mwl-calendar-month-view>
                
                <mwl-calendar-week-view
                  *ngSwitchCase="CalendarView.Week"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)"
                >
                </mwl-calendar-week-view>
              
              
                <mwl-calendar-day-view
                  *ngSwitchCase="CalendarView.Day"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)"
                >
                </mwl-calendar-day-view>
              
              </div>
            

          
        </div><!--end row-->
       
</div><!--div ends-->

</div>

 