<my-nav></my-nav>
<div class="parent">
  <div class="banner">
    <div class="heading"><h5>Reset Password<hr></h5></div>
    <form #resetPasswordForm="ngForm" (ngSubmit)="resetUserPassword(resetPasswordForm)">
       
      <div class="form-group">
         <label for="email">Password</label>
         <input type="password" id="inputPassword" class="form-control form-control-sm"  [(ngModel)]="password"   placeholder="Password" name="password" required>
          
     </div>
    
     <div class="form-group">
         <label for="Password">Confirm Password</label>
         <input type="password" id="inputConfirmPassword" class="form-control form-control-sm"   [(ngModel)]="confirmPassword" placeholder="Confirm Password" name="confirmPassword" required>
          
     </div>
     <div class="form-group">
         <button class="btn  custom-btn btn-sm" *ngIf="!isProcessing"  type="submit"  >Reset Password</button>
         <div class="spinner-border loader text-danger" *ngIf="isProcessing" role="status">
             <span class="sr-only">Loading...</span>
         </div>
     </div>
    </form>
  </div>
</div>