<div class="form-div">
    <div class="heading"><h5>Login To Continue<hr></h5></div>
    <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
       
      <div class="form-group">
         <label for="email">Email</label>
         <input type="email" id="inputEmail" class="form-control form-control-sm" #Email="ngModel" [(ngModel)]="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" placeholder="Enter your email.." name="email" required>
         <span *ngIf="Email?.touched" class="box-alert">
             <span *ngIf="Email.errors?.required">Email is required!</span>
             <span *ngIf="Email.errors?.pattern">Email is invalid!</span>
         </span>
     </div>
    
     <div class="form-group">
         <label for="Password">Password</label>
         <input type="password" id="inputPassword" class="form-control form-control-sm" #Password="ngModel" [(ngModel)]="password" pattern="^.{8,15}$" placeholder="Enter password.." name="password" required>
         <span *ngIf="Password?.touched" class="box-alert">
             <span *ngIf="Password.errors?.required">Password is required!</span>
             <span *ngIf="Password.errors?.pattern || Password.errors?.minlength">Password must between 8 to 15 character long!</span>
         </span>
     </div>
     <div class="form-group">
        <a routerLink='/forgot' class="forgot-password">Forgot password?</a>  
     </div>
  
     <div class="form-group">
         <button class="btn  btn-block custom-btn btn-sm" *ngIf="!isProcessing"  type="submit" [disabled]="!signUpForm.form.valid">LogIn</button>
         <div class="spinner-border loader text-danger" *ngIf="isProcessing" role="status">
             <span class="sr-only">Loading...</span>
         </div>
     </div>
    </form>
  </div>